{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BerserkerPriceTracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'volumes/style.css' %}">
</head>
<body class="mt-5">
    <div class="container">
        <h1 class="display-6" id="top">Berserker Price Tracker</h1>
        <p>Last updated on: {{ product_list.0.retailers.all.1.updated_at }} (EST)</p>
        <p> All prices shown are in CAD</p>
        <p><a href="#bottom">See you at the bottom!</a></p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Volume</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in product_list %}
                    <tr>
                        <td >{{ item.name }}</td>
                        <td><img src="{{ item.image }}"></td>
                        <td>
                            <div  id="volume{{ item.id }}">
                                <table class="table">
                                    <thead>
                                        <th>Retailer</th>
                                        <th>Price</th>
                                        <th>Availability</th>
                                    </thead>
                                    <tbody>
                                    <!-- Open row for retailer -->
                                    <tr>
                                    <!-- loop here -->
                                    {% for retailer in item.retailers.all %}
                                            <!-- Company logos here -->
                                            <td><a href="{{ retailer.store_link }}">{{ retailer.retailer_name }}</a></td>
                                            {% if retailer.price  %}
                                                <td>${{ retailer.price }}</td>
                                            {% else %}
                                                <td>N/A</td>
                                            {% endif %}
                                            {% if retailer.availability  %}
                                                <td style="color: white" class="bg-success" data-toggle="tooltip" title="{{ retailer.availability_note }}">In Stock</td>
                                            {% else %}
                                                <td style="color: white" class="bg-danger" data-toggle="tooltip" title="{{ retailer.availability_note }}">Unavailable</td>
                                            {% endif %}
                                        </tr> <!-- close row retailer -->
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
    <br>
    <footer class="footer" id="bottom">
        <div class="container">
            <p class="text-muted"><a href="api/v1/berserk">Check out the API</a></p>
            <p class="text-muted"><a href="https://github.com/madgustoo/BerserkerPriceTracker">Fork the Repo</a></p>
            <p><a href="#top">Take me back!</a></p>
        </div>
    </footer>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'volumes/app.js' %}">  </script>
</body>
</html>



