.stock a {
    display: block;
}
.stock {
    height: 10%;
}
.accordion-toggle:hover {
    color: lightcoral;
}

.footer {
    background-color: lightcyan;
    padding-top: 1%;
    padding-bottom: 1%;
}

